body{
    background-color: #161618;
}

header {
    background-color: #000032;
    height: 48px;
    /* display: flex; */
    
}

nav {
    max-width: 1264px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: auto;
    
}

nav li {
    list-style-type: none;
    padding-right: 20px;

}

nav li a {
    text-decoration: none;
    color: #f7f8f8;
    text-transform: capitalize;
    font: 600 14px/24.48px inter;
    align-items: center;
}

.align_center{
    display: flex;
    align-items: center;
}
 .test {
    display: block;
 }

 nav>li>img {
    object-fit: cover;
    height: inherit;
 }
 /* .test>a img {
    display: block;
    height: 24px;
 } */